.meal-detail-intro {
    display: flex;
    gap: 20px;
    margin: 16px 0;
}

.meal-detail-intro img {
    width: 200px;
    border-radius: 16px;
}

.meal-detail-intro h4 {
    margin-top: 20px;
}

.meal-detail p {
    margin: 16px 0px;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 2em;
    line-height: 28px;
}

.meal-detail h5 {
    margin: 16px 0px;
}

.meal-detail ul {
    list-style-type: circle;
    list-style-position: inside;
}

.meal-detail ul li {
    margin-bottom: 8px;
}