.not-found h2 {
    margin: 16px 0;
    font-size: 40px;
    color: rgb(212, 84, 84);
}

.not-found h3 {
    margin: 16px 0;
    font-size: 28px;
}

.not-found p {
    margin: 16px 0;
}

.not-found a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(212, 84, 84);
}

.not-found a:hover {
    text-decoration: underline;
}