.navbar {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    padding: 8px;
    border-bottom: 1px solid rgb(184, 182, 182);
    align-items: center;
}

.navbar h1 {
    font-size: 2em;
    margin: 16px 0px;
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    padding: 8px 16px;
    color: #3B5998;
    border-radius: 8px;
    font-weight: 600;
}

.navbar a.active {
    color: rgb(255, 255, 255);
    background-color: rgb(212, 84, 84);
}