.search-bar {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 10px;
    margin: 20px auto;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid rgb(203, 198, 198);
    border-radius: 8px 8px 8px 8px;
    height: 28px;
    width: 70%;
    font-size: 1rem;
}

.search-bar button {
    /* padding: 8px; */
    border: 1px solid rgb(203, 198, 198);
    border-radius: 8px 8px 8px 8px;
    height: 46px;
    font-size: 1rem;
    cursor: pointer;
    width: 26%;
    min-width: 60px;
}